*{
  margin:0px;
  padding:0px;
box-sizing:border-box;
}.container_my-4

{
  max-width:70%;
  padding:34px;
 margin:auto;
  
}
.container_my-4 h1
{
  
  text-align:center;
  font-family: 'Cabin', sans-serif;
 font-size:50px;
 color:rgb(7, 7, 7);
}
.container6 {
width: 40%;
margin: 0 auto;

padding: 40px;

border-radius: 16px;
}
.container6 h1{
text-align:center;
font-family: 'Lobster', cursive;
font-size:50px;
color:rgb(253, 246, 246);

}
.container5{
margin: 0 auto;

padding: 40px;

}

.container_my-3

{
max-width:70%;

margin:auto;

padding: 40px;

border-radius: 16px;


}
.container_my-3 h1
{

text-align:center;
font-family: 'Cabin', sans-serif;
font-size:80px;
color:rgb(7, 7, 7);

}
.container

{
  max-width:30%;
  padding:34px;
 margin:auto;
  
}

.container h1
{
  
  text-align:center;
  font-family: 'Abril Fatface', cursive;
font-family: 'Acme', sans-serif;
font-family: 'Cabin', sans-serif;
font-family: 'Crete Round', serif;
 font-size:50px;
 color:black;
}
.container_my-4 p
{
  text-align:center;
  font-family: 'Cabin', sans-serif;
  font-size:40px;
  color:maroon;
}
.container1 {
background-color: rgb(13, 9, 17);
padding: 40px;
box-shadow: rgba(240, 233, 233, 0.9) 0px 5px 15px;
border-radius: 16px;
width: 40%;
}

.container1

{
max-width:30%;
padding:34px;
margin:auto;

}
.container1 h1{
text-align:center;
font-family: 'Abril Fatface', cursive;
font-family: 'Acme', sans-serif;
font-family: 'Cabin', sans-serif;
font-family: 'Crete Round', serif;
font-size:50px;
color:rgb(245, 243, 243);

}
.container4 {
/*background-color: rgb(56, 38, 73);*/
padding: 40px;
/*box-shadow: rgba(240, 233, 233, 0.9) 0px 5px 15px;*/
border-radius: 35px;
width: 70%;
}

.container4

{
max-width:30%;
padding:34px;
margin:auto;

}
.container4 h1{
text-align:center;
font-family: 'Abril Fatface', cursive;
font-family: 'Acme', sans-serif;
font-family: 'Cabin', sans-serif;
font-family: 'Crete Round', serif;
font-size:40px;
font-weight: bolder;
color:rgb(10, 10, 10);

}
.container h3,
h1,
p {
text-align: center;
color: rgb(240, 238, 235);
}

.white-container {
width: 40%;
margin: 0 auto;
background-color: rgb(138, 189, 180);
padding: 40px;
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
border-radius: 16px;
}
.white-container3 {
width: 40%;
margin: 0 auto;
background-color: rgba(174, 232, 240, 0.712);
padding: 40px;
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
border-radius: 16px;
}
.container2 {
width: 40%;
margin: 0 auto;

padding: 40px;

border-radius: 16px;
}
.container2 h1{
text-align:center;
font-family: 'Abril Fatface', cursive;
font-family: 'Acme', sans-serif;
font-family: 'Cabin', sans-serif;
font-family: 'Crete Round', serif;
font-size:50px;
color:rgb(12, 12, 12);

}

.container3 {
width: 40%;
margin: 0 auto;

padding: 40px;

border-radius: 16px;
}
.container3 h1{
text-align:center;
font-family: 'Abril Fatface', cursive;
font-family: 'Acme', sans-serif;
font-family: 'Cabin', sans-serif;
font-family: 'Crete Round', serif;
font-size:50px;
color:rgb(253, 246, 246);

}
/*.container6 {
width: 40%;
margin: 0 auto;

padding: 40px;

border-radius: 16px;
}*/
.container6 h1{
text-align:center;

font-family: 'Lobster', cursive;
font-size:55px;
color:rgb(204, 28, 28);

}
.container5
{width:40%;
margin:auto;
top:10px;



}

.form-group
{
  
  
  font-family: 'Abril Fatface', cursive;
  font-family: 'Acme', sans-serif;
  font-family: 'Cabin', sans-serif;
  
  
   
}



  
  
  



.form-group2
{
  
  color:blanchedalmond;
  font-family: 'Abril Fatface', cursive;
  font-family: 'Acme', sans-serif;
  font-family: 'Cabin', sans-serif;
  
  
   
}


.bg {
width: 100%;
position: absolute;
z-index: -1;
}

.bg-vehicle-details{
width: 60%;
position: absolute;
margin-left: auto;
margin-right: auto;
display: block;
z-index: -1;
}


.bg-image1 {
background: url("./img5.jpg") no-repeat fixed center;
  background-size: cover;
  opacity: 0.9;
  
}
.bg-image2 {
  background: url("./bg.jpg") no-repeat fixed center;
  background-size: cover;
  opacity: 0.9;
}
.loginbox{
  background:url("./img14.jpg") no-repeat fixed center;
  background-size: cover;
  opacity: 0.9;
/*  width:320px;
  height:420px;
  
  color:#fff;
  top:50%;
  left:50%;
  position:absolute;
  transform:translate(-50,-50);
  box-sizing:border-box;*/

}
.box{

background-size: cover;
opacity: 0.9;
/*  width:320px;
height:420px;

color:#fff;
top:50%;
left:50%;
position:absolute;
transform:translate(-50,-50);
box-sizing:border-box;*/

}
.avatar
{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: 60px;
  left: 720px;
}



.bg-image3 {
  background: url("./img16.jpg") no-repeat fixed center;
  background-size: cover;
  opacity: 1;
}




.center {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.center1 {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


input{
  border:2px white;
  border-radius:6px;
  width:80%;
  margin:9px;
  padding:5px;
  font-size:18px;
  box-sizing:border-box;
}
.btn
{
  text-align: center;
  color:white;
  background:black;
  padding:8px 12px;
  font-size:20px;
  border:2px solid white;
  border-radius: 14px;
  cursor:pointer;
  
  
  

}

.btn1
{
  text-align: center;
  color: white;
  background: rgb(126, 8, 8);
  padding: 7px 4px;
  font-size: 18px;
  border: 2px solid white;
  border-radius: 12px;
  cursor: pointer;
  
  
  

}
.btn2
{
  text-align: center;
  color:rgb(255, 253, 253);
  background:black;
  padding:8px 12px;
  font-size:20px;
  border:2px solid white;
  border-radius: 14px;
  cursor:pointer;
  
  
  

}

input[type=radio],
input.radio {
float: left;
clear: none;
margin: 2px 0 0 2px;
}
fieldset {
overflow: hidden
}
.gender-class {
float: left;
clear: none;
}

label {
float: left;
clear: none;
display: block;
padding: 0px 1em 0px 8px;
}
/*.white-container2 {
  font-family: 'Abril Fatface', cursive;
  font-family: 'Acme', sans-serif;
  font-family: 'Cabin', sans-serif;
  font-family: 'Crete Round', serif;
  background-color: rgb(186, 152, 199);
  padding: 40px;
  box-shadow: rgba(0, 0, 0, 0.9) 0px 5px 15px;
  border-radius: 16px;
  width: 40%;
  
}*/

/*.btn3 {
  color: rgb(248, 249, 250);
  background: darkcyan;
  padding: 4px 2px;
  font-size: 15px;
  border: 2px solid black;
  border-radius: 10px;
  cursor: pointer;
}*/